version: '2'
services:
  rabbit:
    image: rabbitmq:3-management
    network_mode: "host"
    ports:
      - 5672:5672
      - 15672:15672
    restart: always
  registry:
    image: openexchange/registry:latest
    network_mode: "host"
    ports:
      - 8761:8761
    environment:
      JAVA_OPTS: |
        -server
        -ea
        -Xms64m
        -Xmx128m
        -XX:MaxMetaspaceSize=64m
        -Xmn16m -XX:SurvivorRatio=8
        -XX:TargetSurvivorRatio=50
        -XX:+UseConcMarkSweepGC
        -XX:+CMSParallelRemarkEnabled
        -verbose:gc
        -XX:+PrintGCDetails
    depends_on:
      - rabbit
    restart: always
  configserver:
    image: openexchange/configserver:latest
    network_mode: "host"
    ports:
      - 8888:8888
    environment:
      JAVA_OPTS: |
        ${JAVA_OPTS}
        -server
        -ea
        -Xms64m
        -Xmx128m
        -XX:MaxMetaspaceSize=64m
        -Xmn16m
        -XX:SurvivorRatio=8
        -XX:TargetSurvivorRatio=50
        -XX:+UseConcMarkSweepGC
        -XX:+CMSParallelRemarkEnabled
        -verbose:gc
        -XX:+PrintGCDetails
    depends_on:
      - registry
    restart: always
  gateway:
    image: openexchange/gateway:latest
    network_mode: "host"
    ports:
      - 8100:8100
    environment:
      JAVA_OPTS: |
        -server
        -ea
        -Xms64m
        -Xmx128m
        -XX:MaxMetaspaceSize=64m
        -Xmn16m -XX:SurvivorRatio=8
        -XX:TargetSurvivorRatio=50
        -XX:+UseConcMarkSweepGC
        -XX:+CMSParallelRemarkEnabled
        -verbose:gc
        -XX:+PrintGCDetails
    depends_on:
      - configserver
    restart: always